h1 {
 font-family: "Arial Black", Arial, Verdana, sans-serif;
    color: white;
}


h2{
    font-family: helvetica, Arial, sans-serif;
	color: white;

}

body {
background-color: rgb(59,52,63);
text-align: center;

}
